<main class="master" [@slideToSide]>
    <app-header [backButton]=true></app-header>
    <main class="main">
        

        <div *ngIf="my_likes.length === 0"  style="padding: 0 32px 0 32px; position: absolute; inset: 0 0 32px 0; margin: auto; gap: 16px; width: fit-content; height: fit-content; display: flex; flex-direction: column; align-items: center;">
         
            
            <img src="../../assets/Group 56.png" style="width: 150px;" alt="">

                <h3 style="width: fit-content; text-align: center; color: rgb(190, 190, 190);">Voce não favoritou nenhuma Instituição</h3>

                  <button (click)="goTo('ongs')" class="find-ongs-button">Descobrir Instituições</button>
 
        </div>
            
        <!-- <div *ngFor="let like of my_likes">
            <div>{{like}}</div>
        </div> -->

        <div *ngFor="let ong of ongs; let i = index;">


    

            <div style="width: 100%; height: fit-content; background: white; border-radius: 16px; padding: 8px 16px 8px 16px; gap: 12px; display: flex; flex-direction: column;">
                <div>
                    <p style="font-size: 1.3em; font-weight: 900; text-transform: capitalize;" class="elip sl">{{ong?.name}}</p>
                    <p class="elip tl">{{ong?.description}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p>{{ong?.address_state}}</p>
                    <p (click)="goToOngPage(ong?._id)" style="background: var(--zw-second); color: white; font-weight: 700; padding: 4px 8px 4px 8px; border-radius: 15px;">Ver Instituição</p>
                </div>

                <div style="display: flex; justify-content: space-between; align-items: center;">
        
                    <p style="font-size: .9em">{{ong?.created_at.split('-')[0]}}</p>
                    <div style="display: flex; align-items: center; justify-content: end;">
                    
                   
                      <svg *ngIf="!ong.liked" (click)="likeOng(ong._id, i)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="rgb(180,180,180)" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>

                      <svg *ngIf="ong.liked" (click)="unlikeOng(ong._id, i)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="var(--zw-red)" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                    </div>
                </div> 
            </div>

        </div>


    </main>
</main>

