<main class="master" [@slideToSide]>
    <app-header [back]="'perfil'" ></app-header>
    <main class="main">
        

        <div *ngIf="my_likes.length === 0"  style="padding: 0 32px 0 32px; position: absolute; inset: 0 0 32px 0; margin: auto; gap: 16px; width: fit-content; height: fit-content; display: flex; flex-direction: column; align-items: center;">
         
            
            <img src="../../assets/Group 56.png" style="width: 150px;" alt="">

                <h3 style="width: fit-content; text-align: center; color: rgb(190, 190, 190);">Voce não favoritou nenhuma Instituição</h3>

                  <button (click)="goTo('ongs')" class="find-ongs-button">Descobrir Instituições</button>
 
        </div>
            
        <div *ngFor="let like of my_likes">
            <div>{{like}}</div>
        </div>
    </main>
</main>

