<main class="master" [@slideToSide] *ngIf="is_on_ong_screen === 1" style="position: relative">



    
    <header class="header" style="background: var(--zw-red);" >
        <div class="header-inside">
            <span class="header-back-icon" style="display: flex; justify-content: space-between;" (click)="goBackToOngs()" >
                     <svg style="stroke-width: 4px; transform: scale(1.6);"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                </span>
        </div>
    </header>

    


    <main class="main" style="background: whitesmoke; padding-top: 64px;">


        <div #ErrorMessage style="z-index: 3; position: absolute; top: -300px; background-color: var(--zw-second); border-radius: 35px; padding: 16px 24px 16px 24px; color: white; font-weight: 700; width: 300px; font-size: 1.1em; display: flex; align-items: center; gap: 8px; box-shadow: 4px 6px 4px -2px rgba(0, 0, 0, 0.111); margin: auto; right: 0; left: 0; transition: .2s ease-in-out;">
            <div>
    
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
              </svg>
            </div>
            <p>{{denied_message}}</p>
          </div>
      
        
            <div class="local">
                <p>Para doar basta verificar o endereço abaixo e enviar os alimentos necessários para a ONG.</p>
                <div>
                    <h2><span>{{ong?.name}}</span></h2>
                </div>
                <div>
                    <h3>Cidade: <span>{{ong?.address_street}}</span></h3>
                </div>
                <div>
                    <h3>Estado: <span>{{ong?.address_state}}</span></h3>
                </div>
                <div>
                    <h3>Número: <span>{{ong?.address_number}}</span></h3>
                </div>
                <div>
                    <h3>Funcionamento:</h3>
                      
                        <div class="funcionamento" *ngFor="let day of weekdays">
                            <span class="dia" *ngIf="ong?.working_time[day] === '00:00-00:00'">
                                <p class="dia">{{day}}: Fechado</p>
            
                            </span>
                            <span *ngIf="ong?.working_time[day] !== '00:00-00:00'">
                                <p class="dia">{{day}}: {{ong?.working_time[day]}}</p>
                            

                            </span>
                        </div>
                       
                    
                </div>
            </div>

            <div class="alimentos">
            <div *ngFor="let order of ong_active_orders; let i = index">

                <div style="width: 100%; height: fit-content; background: white; border-radius: 16px; padding: 8px 16px 8px 16px; gap: 8px; display: flex; flex-direction: column;" (click)="goToOrderPage(order._id)">
                    <div>
                        <p style="font-size: 1.2em; font-weight: 900;" class="elip sl">{{order?.name}}</p>
                        <p class="elip tl">{{order?.description}}</p>
                    </div>
                    <div style="display: flex; gap: 12px; align-items: center; width: 100%;">
                        <p>{{((order?.sum_donated / order?.sum_items) * 100).toString().split('.')[0]}}%</p>
                        <div class="progress-bar-outside">
                            <div class="progress-bar-inside" [style.width.%]="((order?.sum_donated / order?.sum_items) * 100) + 2">
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <p>{{order?.created_at?.split('-')[0]}}</p>
                        <p style="background: var(--zw-second); color: white; font-weight: 700; padding: 4px 8px 4px 8px; border-radius: 15px;">Quero Doar</p>
                    </div> 
                </div>
            </div>
        </div>
            <br>
            <br>
            <br>
            <br>
     







</main>
</main>
        

        


<main class="master" [@slideAnimation] *ngIf="is_on_ong_screen === 0">

    <app-header [backButton]=true></app-header>
    
    <main #container class="main" style="background: whitesmoke;">


        <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 4px 16px 4px;">

            <span>
                <h1 style=" color: rgb(100,100,100); font-size: 1.7em; font-weight: 700;">Instituições</h1>
            </span>
         
        </div>


    <div style="display: flex; flex-direction: column; gap: 12px;">

        <div *ngFor="let ong of ongs; let i = index;">

    

            <div style="width: 100%; height: fit-content; background: white; border-radius: 16px; padding: 8px 16px 8px 16px; gap: 12px; display: flex; flex-direction: column;">
                <div (click)="openOng(i)">
                    <p style="font-size: 1.3em; font-weight: 900; text-transform: capitalize;" class="elip sl">{{ong?.name}}</p>
                    <p class="elip tl">{{ong?.description}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p>{{ong?.address_state}}</p>
                    <p (click)="openOng(i)" style="background: var(--zw-second); color: white; font-weight: 700; padding: 4px 8px 4px 8px; border-radius: 15px;">Ver Instituição</p>
                </div>

                <div style="display: flex; justify-content: space-between; align-items: center;">
        
                    <p style="font-size: .9em">{{ong?.created_at.split('-')[0]}}</p>
                    <div style="display: flex; align-items: center; justify-content: end;">
                        <h2 style="font-weight: 700; font-size: 1.2em; margin: 0;margin-right: 6px;">{{ong?.likes}}</h2>
                   
                      <svg *ngIf="!ong.liked" (click)="likeOng(ong._id, i)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="rgb(180,180,180)" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>

                      <svg *ngIf="ong.liked" (click)="unlikeOng(ong._id, i)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="var(--zw-red)" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                    </div>
                </div> 
            </div>
    
               


            
   

    </div>
    </div>
       
</main>
</main>

