<!-- <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <div class="container">
        <p class="sub-titulo">Para cadastrar sua ONG</p>
        <h1 class="titulo">Crie sua conta aqui</h1>
    </div>

    <div class="container-form">
    <form class="form">
        
        <div class="form-group">
              <label  for="e-mail">Endereço de E-mail</label>
              <input class="input" type="text" placeholder="insira seu e-mail">
          </div> 
          <div class="form-group">
            <label  for="name">Nome da ONG</label>
            <input class="input" type="text" placeholder="Insira o nome da ONG">
        </div> 
        <div class="form-group">
            <label  for="cnpj">CNPJ</label>
            <input class="input" type="number" placeholder="Insira o seu CNPJ">
        </div> 
        <div class="form-group">
            <label for="Cidade">Cidade</label>
            <select class="select" id="Cidade" name= "Cidade">
                <option value="">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
            </select>
        </div> 
        <div class="form-group">
            <label  for="state">Estado</label>
            <select class="select" id="UF" name= "UF">
                <option value="">Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
                <option value="EX">EX</option>
                </select>
        </div> 
        <div class="form-group">
            <label  for="endereço">Endereço</label>
            <input class="input" type="text" placeholder="Insira seu Endereço">
        </div> 
        <div class="form-group">
            <label  for="number">Número</label>
            <input class="input" type="number" placeholder="Insira o número">
        </div> 
        <div class="form-group">
            <label  for="complemento">Complemento</label>
            <input class="input" type="text" placeholder="Insira um complemento">
        </div> 
        <div class="form-group">
            <label  for="cep">CEP</label>
            <input class="input" type="number" placeholder="Insira O CEP">
        </div> 
        <div class="form-group">
            <label  for="tel">Celular</label>
            <input class="input" type="tel" placeholder="Insira o Celular com DDD">
        </div> 
        <div class="form-group">
        <button type="submit">Enviar</button>
        <div class="footer">
            <p class="footer-cadastro-one">Você já tem uma conta?</p>
            <p class="footer-cadastro-two">Entrar</p>
        </div>
        </div>
        </form>


    
</div> -->


<main class="master" [@slideAnimation]>
    <main class="main">

        <div *ngIf="state === 'login'" [@slideToSide] style="background-color: whitesmoke; width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: start; padding-top: 60px; gap: 16px; align-items: center; position: relative; padding-top: 120px;">

            <img src="../../assets/Group_218-removebg-preview.png" style="position: absolute; top: -45px; left: -8px; width: 400px;" alt="">
          
          
            <form style="position: absolute; inset: 0 0 0 0; margin: auto; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 24px;">
        
          
            <div style="width: 100px; height: 100px; background-color: white; border-radius: 50%; position: relative;">
              <div style="position: absolute; right: 0; left: 0; bottom: 0; margin: auto; background: white; width: fit-content; height: fit-content; padding: 16px; border-radius: 15px;" >
               
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="var(--zw-red)" class="bi bi-bank" viewBox="0 0 16 16">
                        <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
                      </svg>
                </div>
              
            </div>
          
          
            <div style="display: flex; flex-direction: column; align-items: center; gap: 48px; z-index: 1;">
          
              <div style="display: flex; flex-direction: column; align-items: center; gap: 8px;">
          
                <div style="display: flex; width: 300px; border-radius: 20px; align-items: center; background: white; overflow: hidden; box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214);">
                    <div style="padding: 0 8px 0 8px; display: flex; justify-content: center;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" fill="rgb(180,180,180)" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                      </svg>
                    </div>
                    <input style="font-size: 2em;" [(ngModel)]="login_name" type="text" style="flex-grow: 1; background-color: white;" placeholder="Nome da Instituição" [ngModelOptions]="{standalone: true}">
                  </div>
                
                <div style="display: flex; width: 300px; border-radius: 20px; align-items: center; background: white; overflow: hidden; box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214);">
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" fill="rgb(180,180,180)" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg>
                  </div>
                  <input style="font-size: 2em;" [(ngModel)]="login_email" type="email" style="flex-grow: 1; background-color: white;" placeholder="Email" [ngModelOptions]="{standalone: true}">
                </div>

                <div style="display: flex; width: 300px; border-radius: 20px; align-items: flex-start; background: white; overflow: hidden; box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214); flex-direction: column; padding: 8px;">
                  
                  <!-- <input style="font-size: 2em;" [(ngModel)]="login_email" type="email" style="flex-grow: 1; background-color: white;" placeholder="Email" [ngModelOptions]="{standalone: true}"> -->
                  <textarea  style="flex-grow: 1; background-color: white; padding: 8px; outline: none; border: none;" name="" id="" cols="30" rows="5" placeholder="Descreva sua Instituição (min 85)"></textarea>
                </div>
          



                <div style="display: flex; width: 300px; border-radius: 20px; align-items: center; background: white; overflow: hidden; box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214);">
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" fill="rgb(180,180,180)" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                  </div>
                  <input [(ngModel)]="login_password" type="number" style="flex-grow: 1;  background-color: white;" placeholder="CPNJ" [ngModelOptions]="{standalone: true}">
                </div>


                <div style="display: flex; width: 300px; border-radius: 20px; align-items: center; background: white; overflow: hidden; box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214);">
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" fill="rgb(180,180,180)" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                  </div>
                  <input [(ngModel)]="login_password" type="password" style="flex-grow: 1;  background-color: white;" placeholder="Password" [ngModelOptions]="{standalone: true}">
                </div>


                <div style="display: flex; width: 300px; border-radius: 20px; align-items: center; background: white; overflow: hidden; box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214);">
                    <div style="padding: 0 8px 0 8px; display: flex; justify-content: center;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" fill="rgb(180,180,180)" class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                      </svg>
                    </div>
                    <input [(ngModel)]="login_password" type="text" style="flex-grow: 1;  background-color: white;" placeholder="Endereço" [ngModelOptions]="{standalone: true}">
                  </div>

                <div style="display: flex;">

                    <select  name= "UF" style="box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214); width: 145px;">
                        <option value="">Estado</option>
                        <option value="AC">AC</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                    </select>

                 
                    <div style="display: flex; width: 145px; border-radius: 20px; align-items: center; background: white; overflow: hidden; box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214);">
                        <div style="padding: 0 8px 0 8px; display: flex; justify-content: center;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" fill="rgb(180,180,180)" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                          </svg>
                        </div>
                        <input [(ngModel)]="login_password" type="number" style="flex-grow: 1;  background-color: white;" placeholder="Número" [ngModelOptions]="{standalone: true}">
                      </div>
                    
                </div>
                <!-- <input type="text" style="width: 300px; border-radius: 50px; "> -->
                <!-- <div style="display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                  </svg>
                    <p style=" font-size: .9em; word-spacing: 4px; text-align: center; width: 100%; color: red; font-weight: 500;">Usuário não existe.</p>
                    </div> -->


                </div>
                <div style="display: flex; justify-content: space-between; width: 100%;">
    
                    <button (click)="login()" style="width: fit-content; border: none; color: var(--zw-red); background: white; font-size: 1.2em; padding: 6px 32px 6px 32px; border-radius: 8px; box-shadow: 2px 7px 4px -3px rgba(0, 0, 0, 0.214); font-weight: 700;">Voltar</button>
                    <button (click)="login()" style="width: fit-content; border: none; color: white; background: var(--zw-red); font-size: 1.2em; padding: 6px 32px 6px 32px; border-radius: 8px; box-shadow: 2px 7px 4px -3px rgba(0, 0, 0, 0.214); font-weight: 700;">Próximo</button>
                </div>
                    
                  <!-- <div style="font-size: .8em; display: flex; flex-direction: column; gap: 8px; color: rgb(83, 83, 83);">
                    <p>Esqueceu sua senha? <a (click)="state = 'register'" style="margin-left: 4px;color: var(--zw-red);" id="link-tag">Recuperar Senha</a></p>
                      <p class="bottom-text">Não tem uma conta? <a (click)="state = 'register'" style="margin-left: 4px;  color: var(--zw-red);" id="link-tag">Registrar</a></p>
            
                  </div> -->
          
              <!-- <p>ou</p>
          
              <a (click)="state = 'register'" href="#"  id="google-login-button" class="google-signin-button">
          
                <span class="button-text">
                  Sign in with Google</span>
              </a> -->
            </div>
            </form>
        </div>



    </main>
</main>
