<main class="master" [@slideToSide] *ngIf="is_on_order_screen === 1">



    
<header class="header" style="height: 184px; background: var(--zw-red);" >
    <div class="header-inside">
        <span class="header-back-icon" style="display: flex; justify-content: space-between;" (click)="goBackToOrders()" >
                 <svg style="stroke-width: 4px; transform: scale(1.6);"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
            </span>
    </div>
</header>



    <main class="main" style="background: whitesmoke">


        <div #ErrorMessage style="z-index: 3; position: absolute; top: -300px; background-color: var(--zw-second); border-radius: 35px; padding: 16px 24px 16px 24px; color: white; font-weight: 700; width: 300px; font-size: 1.1em; display: flex; align-items: center; gap: 8px; box-shadow: 4px 6px 4px -2px rgba(0, 0, 0, 0.111); margin: auto; right: 0; left: 0; transition: .2s ease-in-out;">
            <div>
    
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
              </svg>
            </div>
            <p>{{denied_message}}</p>
          </div>

    
            
        
          <!-- <div class="header-back-icon" style="height: 50px; display: flex; align-items: center; justify-content: flex-start;">
            <svg style="stroke-width: 4px; transform: scale(1.6);" (click)="is_on_order_screen = 0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--zw-red)" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </div> -->
     
     


  

        <span class="titles-box">
            <div>
                <h2 style="color: white; border-radius: 20px; padding: 2px 24px 2px 24px; background-color: var(--zw-second); width: fit-content; margin-bottom: 8px;">Info</h2>
                <h4 style="color: rgb(50,50,50)">Criado por: {{owner?.name}}</h4>
                <h4 style="color: rgb(50,50,50)">{{order?.description}}</h4>
            
             
                
                <h4 style="color: rgb(50,50,50)">Solicitado em {{order?.created_at}}</h4>
            </div>
        </span>
        
    
  
        
 

        <span class="titles-box">
            <div>
                <h2 style="color: white; border-radius: 20px; padding: 2px 24px 2px 24px; background-color: var(--zw-second); width: fit-content; margin-bottom: 8px;">Horários</h2>
                <h4 style="color: rgb(50,50,50)">Abaixo estão os horários que a Instituição que realizou a Solicitação funciona durante a semana. Selecione um horário para que possamos realizar seu Agendamento.</h4>
            </div>
        </span>
        <div class="times">
    
            <div *ngFor="let time of week_days; let i = index">

        
            <div *ngIf="owner?.working_time?.[week_days[i]] !== closed" class="time" (click)="changeTime(i)"
                [style.background]="selected_time === i ? 'var(--zw-red)': 'white'"
                [style.color]="selected_time === i ? 'white': 'black'"
            >
          
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                      </svg>
           
             
                    <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">

                        <p>{{owner?.working_time?.[week_days[i]]}}</p> 
                        <p style="background: var(--zw-second); color: white; font-weight: 700; padding: 4px 8px 4px 8px; border-radius: 15px;">{{week_days[i]}}</p>
                        
                    </div>
              
            </div>
            
            
        </div>
    </div>
    
      

      
        <span class="titles-box">
            <div>
                <h2 style="color: white; border-radius: 20px; padding: 2px 24px 2px 24px; background-color: var(--zw-second); width: fit-content; margin-bottom: 8px;">Local</h2>
                <h4 style="color: rgb(50,50,50)">Ao fazer um Agendamento, voce deve entregar os Produtos acordados no local:</h4>
                
                <h4 style="color: rgb(50,50,50)">Rua {{owner?.address_street}}, {{owner?.address_state}}, {{owner?.address_number}}</h4>
            </div>
        </span>
    
        <span class="titles-box">
            <div>
                <h2 style="color: white; border-radius: 20px; padding: 2px 24px 2px 24px; background-color: var(--zw-second); width: fit-content; margin-bottom: 8px;">Produtos</h2>
                <h4 style="color: rgb(50,50,50)">Abaixo estão os items restantes possiveis para essa Solicitação. Selecione oque deseja doar, pelo menos uma unidade de algum item é necessária para que possamos realizar seu Agendamento.</h4>
            </div>
        </span>
        <div class="donations">
            <div *ngFor="let item of order?.items; let i = index">    
                <div class="donation" *ngIf="(item - order.donated[i]) > 0" (click)="toggleSelection(i)"
                    [ngClass]="{'activated': inputData[i], 'disabled': !inputData[i]}"
                    >
                <h3>{{possible_items[i]}}</h3>
                <div class="donation-pair-of-button-and-input">
                    <button class="find-ongs-button" style="background: var(--zw-second); padding: 2px 14px 2px 14px; border-radius: 10px;">Doar</button>
                    <p>max: {{item - order.donated[i]}}</p>
                    <input (click)="preventDefault($event)" (change)="inputDataChanged(i)" type="number" class="quantity-input" [(ngModel)]="inputData[i]" max="item - order?.donated[i]">
                </div>
            </div>
        </div>
       
        </div>
    
        
        <div *ngIf="!is_appointed" style="width: 100%; display: flex; background-color: var(--zw-red); justify-content: center; height: 70px;">
            <button #AppointmentButton class="find-ongs-button" (click)="makeAppointment()" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-size: 1.3em; border-radius: 0px;">
                <span *ngIf="!loading">Marcar Agendamento</span>
    
                <div #spinner class="spinner" *ngIf="loading"></div>
            </button>
        </div>

        <div *ngIf="is_appointed" style="width: 100%; display: flex; position: absolute; bottom: -1px; right: 0; background-color: var(--zw-red); justify-content: center; height: 70px;">
            <button #AppointmentButton class="find-ongs-button" (click)="desmarcar(relative_appointment)" style="display: flex; align-items: center; justify-content: center; width: 100%;height: 100%; font-size: 1.3em; border-radius: 0px;">
                <span *ngIf="!loading">Desmarcar Agendamento</span>
    
                <div #spinner class="spinner" *ngIf="loading"></div>
            </button>
        </div>
        

        
    </main>
</main>

















<main class="master" [@slideAnimation] *ngIf="is_on_order_screen === 0">

<app-header [backButton]=true></app-header>

<main #container class="main" style="background: whitesmoke;">



   
    <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 4px 16px 4px;">

        <span>
            <h1 style=" color: rgb(100,100,100); font-size: 1.7em; font-weight: 700;">Solicitações</h1>
        </span>
        <p class="s-text clear-text">Filtrar</p>
    </div>





    <div style="display: flex; flex-direction: column; gap: 8px;">
        <div *ngFor="let order of orders; let i = index;">
            <div style="width: 100%; height: fit-content; background: white; border-radius: 16px; padding: 8px 16px 8px 16px; gap: 8px; display: flex; flex-direction: column;" (click)="openOrder(i)">
            <div>
                <p style="font-size: 1.2em; font-weight: 900;" class="elip sl">{{order?.name}}</p>
                <p class="elip tl">{{order?.description}}</p>
            </div>
            <div style="display: flex; gap: 12px; align-items: center; width: 100%;">
                <p>{{((order?.sum_donated / order?.sum_items) * 100).toString().split('.')[0]}}%</p>
                <div class="progress-bar-outside">
                    <div class="progress-bar-inside" [style.width.%]="((order?.sum_donated / order?.sum_items) * 100) + 2">
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p>{{order?.created_at?.split('-')[0]}}</p>
                <p style="background: var(--zw-second); color: white; font-weight: 700; padding: 4px 8px 4px 8px; border-radius: 15px;">Quero Doar</p>
            </div> 
        </div>
    </div>
     

            
        </div>
       
</main>
</main>

