<!-- <div class="box">
    <a href="" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Meus Dados</h1>
    <div class="dados">
        <div class="info">
            <h3>Endereço de e-mail</h3>
            <div><input type="text" class="input" placeholder="EMAILDAONG@gmail.com"></div>
        </div>
        <div class="info">
            <h3>Nome da ONG</h3>
            <div><input type="text" class="input" placeholder="NOME DA ONG"></div>
        </div>
        <div class="info">
            <h3>CPF/CNPJ</h3>
            <div><input type="text" class="input" placeholder="123.456.789-0001/23"></div>
        </div>
        <div class="info">
            <h3>Cidade</h3>
            <div><input type="text" class="input" placeholder="São Paulo"></div>
        </div>
        <div class="info">
            <h3>Estado</h3>
            <div><input type="text" class="input" placeholder="SP"></div>
        </div>
        <div class="info">
            <h3>Endereço</h3>
            <div><input type="text" class="input" placeholder="Rua das amélias"></div>
        </div>
        <div class="info">
            <h3>Número</h3>
            <div><input type="text" class="input" placeholder="56"></div>
        </div>
        <div class="info">
            <h3>Complemento</h3>
            <div><input type="text" class="input" placeholder="N/A"></div>
        </div>
        <div class="info">
            <h3>CEP</h3>
            <div><input type="text" class="input" placeholder="02349-234"></div>
        </div>
        <div class="info">
            <h3>Celular</h3>
            <div><input type="text" class="input" placeholder="11 96543-9876"></div>
        </div>
    </div>
    <div class="btn-holder"><button class="confirma-btn">Atualizar</button></div>
    <footer class="delete">
        <a href="">Deletar minha conta <img src="../../assets/Vector.png" alt=""></a>
    </footer>
</div> -->








<main class="master" [@slideToSide]>
    <app-header [backButton]=true></app-header>
    <main class="main">

        <div #ErrorMessage style="z-index: 3; position: absolute; top: -300px; background-color: var(--zw-second); border-radius: 35px; padding: 16px 24px 16px 24px; color: white; font-weight: 700; width: 300px; font-size: 1.1em; display: flex; align-items: center; gap: 8px; box-shadow: 4px 6px 4px -2px rgba(0, 0, 0, 0.111); margin: auto; right: 0; left: 0; transition: .2s ease-in-out;">
            <div>
    
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
              </svg>
            </div>
            <p>{{denied_message}}</p>
          </div>

        

        <div style="display: flex; flex-direction: column; gap: 24px;">

            <div style="display: flex; flex-direction: column; gap: 8px; align-items: center;">

                <div style=" border-radius: 50%; width: 120px; height: 120px; display: flex; justify-content: center; align-items: center;overflow: hidden;">
                    <img src="../../assets/userprofile.png" style="width: 70px;" alt="">
                </div>
                <p style="color: #bebebe; font-weight: 700; font-size: 1.1em;">{{me?.email}}</p>
                
            </div>
            

            <div style="display: flex; flex-direction: column; gap: 16px; padding: 0 16px 0 16px;">
                
                <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 4px;">
                    <label  style="color: var(--zw-red); font-weight: 900; font-size: 1.2em;">Nome:</label>
                    <input [(ngModel)]="new_me.name" type="text" name="" style="background: #ffffff; border:none; color:rgb(100,100,100); font-weight: 500; height: 45px; width: 100%; font-size: 1.2em;" value="{{me?.name}}">
                </div>
              
       

                <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 4px;">
                    <label style="color: var(--zw-red); font-weight: 900; font-size: 1.2em;">Senha:</label>
                    <input [(ngModel)]="new_me.password" type="password" name="" style="background: #ffffff; border:none; color: rgb(100,100,100); font-weight: 500; height: 45px; width: 100%; font-size: 1.2em;" value="{{me?.password}}">
                </div>

                


                <!-- <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 4px;">
                    <label style="color: var(--zw-red); font-weight: 900; font-size: 1.2em;">Senha:</label>
                    <input type="password" name="" style="background: #EAEAEA; border:none; color: #8f8f8f; font-weight: 700; height: 45px; width: 100%; font-size: 1.2em;" value="{{me?.password}}">
                </div> -->


                <div style="display: flex; align-items: center; gap: 8px; justify-content: start;">

                    <!-- <button (click)="changeInfo()" style="margin-top: 24px; width: 100%; border: none; color: white; background: var(--zw-second); font-size: 1.3em; padding: 6px 46px 6px 46px; font-weight: 600; border-radius: 0px; box-shadow: none;" >
                        Alterar
                    </button> -->
                    
                    <button #changeInfoButton (click)="changeInfo()" class="find-ongs-button" style="color: white; background: var(--zw-second); flex-grow: 1;" >
                        Alterar Dados
                    </button>
                    <button #deleteAccountButton (click)="deleteAccount()" class="find-ongs-button">
                        Deletar Conta
                    </button>

                </div>

             
                
            </div>


              
              <div style="height: 50px; display: flex; justify-content: center; align-items: center;">
                  <div #spinner class="spinner" *ngIf="loading"
                    [style.border-top]="spinnerColor === 'red' ? '4px solid var(--zw-red);' : '4px solid var(--zw-second);'" 

                  ></div>
              </div>

        </div>
      
    </main>
</main>

