<main class="master" [@slideToSide]>
    <app-header [backButton]=true></app-header>
    <main class="main">
        

        <div style="padding: 0 32px 0 32px; position: absolute; inset: 0 0 32px 0; margin: auto; gap: 16px; width: fit-content; height: fit-content; display: flex; flex-direction: column; align-items: center;">
         
            
            <img src="../../assets/red/tutorial/recipt.png" style="width: 180px;" alt="">

                <h3 style="width: fit-content; text-align: center; color: rgb(190, 190, 190);">Comprovantes são encontrados e podem ser baixados na Página de Doações, futuramente poderão ser encontrados aqui.</h3>

                  <button (click)="goTo('minhasdoacoes')" class="find-ongs-button">Minhas Doações</button>
 
        </div>
            
      
<!-- 
        <div *ngFor="let pdf of my_pdfs; let i = index;">
          
            <p (click)="getSinglePDF(pdf?._id)">#{{pdf._id}}</p>
         
        </div> -->


    </main>
</main>

