
<main class="master" [@slideAnimation]>
    <app-header [back]="'perfil'"  [red]="true"></app-header>
    <main class="main" style="position: relative;">

        <button *ngIf="order?.order?.owner === user?.id">Editar</button>
        <h1 style="font-size: 1.6em;">{{order?.order?.name}}</h1>
        <p>{{order?.order?.description}}</p>
        <table>
            <thead>
              <tr>
                <th>Items</th>
                <th>Solicitado</th>
                <th>Doado</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of possible_items; let i = index">
                <td class="truncate">{{ item }}</td>
                <td>{{order?.order?.items[i]}}</td>
                <td>{{order?.order?.donated[i]}}</td>
            </tr>
        </tbody>
          </table>
          

        <!-- <button *ngIf="user?.type === 'user'">Marcar Agendamento</button> -->
        <!-- <button >Marcar Agendamento</button> -->
        <button #loginButton  style="width: 100%; border: none; color: white; background: var(--zw-red); font-size: 1.3em; padding: 6px 46px 6px 46px; font-weight: 600; border-radius: 0px; box-shadow: none;">
            Quero Doar
          </button>


          <div style="width: 300px; height: fit-content; background: white; box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.08); position: absolute; inset: 0 0 0 0; margin: auto">

            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; width: fit-content; margin: auto; gap: 8px;">
                <div *ngFor="let day of weekdays; let i = index" >

                    <!-- <div>{{order?.time[weekdays[i]]}}</div> -->
                    <div style="font-size: .7em; display: flex; gap: 8px; align-items: center; flex-direction: column; width: fit-content;
               ; width: 60px; height: fit-content; padding: 8px 0 8px 0;"
                [style.background]="order?.time[weekdays[i]] === '00:00-00:00' ? 'whitesmoke' : 'var(--zw-red)'" 
                [style.color]="order?.time[weekdays[i]] === '00:00-00:00' ? 'gray' : 'white'"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="gray" class="bi bi-clock" viewBox="0 0 16 16"
                    [style.fill]="order?.time[weekdays[i]] === '00:00-00:00' ? 'gray' : 'white'"
                    >
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                    </svg>
                    <p>{{weekdays[i]}}</p>
                    <p style="font-size: .8em;">{{order?.time[weekdays[i]] === '00:00-00:00' ? 'fechado' : order?.time[weekdays[i]]}}</p>
                </div>

                </div>
            </div>
           
              
             

            <div *ngFor="let item of order?.order?.items; let i = index">
                <div *ngIf="(item - order?.order?.donated[i]) > 0">
                    {{possible_items[i]}}
                    <input type="number" placeholder="{{i}}" [(ngModel)]="my_donation[i]" name="" id="">
                </div>
            </div>
        

            <button #loginButton (click)="makeAppointment()"  style="width: 100%; border: none; color: white; background: var(--zw-red); font-size: 1.3em; padding: 6px 46px 6px 46px; font-weight: 600; border-radius: 0px; box-shadow: none;">
                Marcar Agendamento
              </button>
        </div>
    </main>
</main>