<!-- <div class="box">
    <a href="pesquisa" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <div class="header">
        <h1>Minha Ong</h1>
        <p class="guide">Saiba mais sobre a ONG:</p>
        <p>big description</p>
    </div>
    <div class="local">
        <p>Para doar basta verificar o endereço abaixo e enviar os alimentos necessários para a ONG.</p>
        <div>
            <h3>Cidade: <span>sao paulo</span></h3>
        </div>
        <div>
            <h3>Estado: <span>Sao Paulo</span></h3>
        </div>
        <div>
            <h3>Endereço: <span>endereço</span></h3>
        </div>
    </div>
    <div class="alimentos">
        <h2>Alimentos que você pode doar:</h2>
        <div class="alimento">
            <h3>Detalhes</h3>
            <p>Alimento: <span>ALIMENTO NESCESSITADO</span></p>
            <p>Quantidade: <span>QUANTIDADE NESCESSITADA</span></p>
            <p class="data">Solicitação realizada no dia: xx/xx/xxxx</p>    
            <div class="progress-bar">
                <div class="progress" id="progress"></div>
                <p>{{percentage}}%</p>
            </div>
        </div>
    </div>
</div> -->




<main class="master" [@slideToSide]>
    <app-header></app-header>
    <main class="main">

        <div class="ong-main-info">

        <div class="ong-pic"></div>
        <h3>My Company</h3>
        <h4>Children | Love | Help | Better | World</h4>
        
        <div class="pair-of-buttons-container">
            <button class="classic-button p-btn">Like</button>
            <button class="classic-button s-btn">Chat</button>
        </div>
    </div>

    <div>
        <h2>About</h2>
        <p>Descricao grande da minha ong para fins de testagem de style elipsis Descricao grande da minha ong para fins de testagem de style elipsis Descricao grande da minha ong para fins de testagem de style elipsis Descricao grande da minha ong para fins de testagem de style elipsis</p>
    </div>


    <div class="requests">
        <div class="request">
            <h3>Minha Ordem</h3>
            <p>Campanha para ajuda de uma escola que sofre com falta de energia eletrica. Descricao grande da minha ong para fins de testagem de style elipsis. Descricao grande da minha ong para fins de testagem de style elipsis</p>
            <div class="pair-of-buttons-container">
                <button class="classic-button s-btn">Salvar</button>
                <button class="classic-button p-btn">Fazer um Agendamento</button>
            </div>
        </div>
        <div class="request">
            <h3>Minha Ordem2</h3>
            <p>Campanha para ajuda de uma escola que sofre com falta de energia eletrica. Descricao grande da minha ong para fins de testagem de style elipsis. Descricao grande da minha ong para fins de testagem de style elipsis</p>
            <div class="pair-of-buttons-container">
                <button class="classic-button s-btn">Salvar</button>
                <button class="classic-button p-btn">Fazer um Agendamento</button>
            </div>
        </div>
    </div>


    <div class="bottom-company-info">
        <span class="bottom-info-container">
            <p>likes</p>
            <p>7</p>
        </span>
        <span class="bottom-info-container">
            <p>Requests</p>
            <p>1</p>
        </span>
        <span class="bottom-info-container">
            <p>Completed</p>
            <p>0</p>
        </span>
    </div>

</main>
</main>

