<main class="master" [@slideAnimationWithLeave] *ngIf="state === 1" style="background-color: var(--zw-red)!important;" (click)="state = 2">

    <main class="main" style="background-color: var(--zw-red)">

        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; gap: 78px; height: 100%; width: 100%;">

            <div style="display: flex; flex-direction: column; gap: 32px; align-items: center; justify-content: space-between;">
                <img src="../../assets/red/tutorial/Group 295.png" style="width: 160px;" alt="">
                <h1 class="unic-title-on-screen" style="font-size: 1.6em; font-weight: 900; padding: 0;">ACOMPANHE SOLICITAÇÕES CRIADAS POR INSTUTIIÇÕES</h1>
            </div>
            <!-- <div style="display: flex; gap: 8px;">
                <div style="width: 6px; height: 6px; background: var(--zw-second); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
            </div> -->
        </div>

    </main>
</main>

<main class="master" [@slideAnimationWithLeave] *ngIf="state === 2" (click)="state = 3">
    <main class="main" style="background-color: var(--zw-red)">

        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; gap: 78px; height: 100%; width: 100%;">

            <div style="display: flex; flex-direction: column; gap: 32px; align-items: center; justify-content: space-between;">
                <h1 class="unic-title-on-screen" style="color: white; padding: 0 16px 0 16px; font-size: 2em;">AGENDAMENTO</h1>
                <img src="../../assets/red/tutorial/appointment.png" style="width: 210px;" alt="">
                <p style="text-align: center; color: white;  padding: 0 16px 0 16px; line-height: 28px; font-size: .9em; font-weight: 900;">Agendamentos podem ser cancelados à qualquer momento, havendo um limite de dois agendamentos ativos por usuário, que passam a nao ser ativos quando confirmados pela Instituição ou cancelados pelo próprio usuario.</p>
          
            </div>
            <!-- <div style="display: flex; gap: 8px;">
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-second); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
            </div> -->
        </div>
    
    </main>
</main>


<main class="master" [@slideAnimationWithLeave] *ngIf="state === 3" (click)="state = 4">
    <main class="main" style="background:#a71d21">

            <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; gap: 78px; height: 100%; width: 100%;">

            <div style="display: flex; flex-direction: column; padding: 0 16px 0 16px; gap: 32px; align-items: center; justify-content: space-between;">
                <p style="color: white; font-weight: 700; text-align: center;">Separe os itens referentes ao agendamento, voce poderá doa-los mesmo que a doação já tenha sido completa por outros usuarios, a menos que voce cancele seu agendamento, então, nesse caso não poderá realizar outro para uma doação já completa.</p>
                <img src="../../assets/red/tutorial/Group 311.png" style="width: 200px;" alt="">

          
            </div>
            <!-- <div style="display: flex; gap: 8px;">
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-second); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
            </div> -->
        </div>
    
    </main>
</main>

<main class="master" [@slideAnimationWithLeave] *ngIf="state === 4" (click)="state = 5">
    <main class="main" style="background-color: #a71d21">


        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; gap: 78px; height: 100%; width: 100%;">

            <div style="display: flex; flex-direction: column; gap: 32px; align-items: center; justify-content: space-between;">
                <h1 class="unic-title-on-screen" style="color: white; padding: 0 16px 0 16px; font-size: 2em;">FAÇA A ENTREGA</h1>
                <img src="../../assets/red/tutorial/Group 312.png" style="width: 300px;" alt="">
                <p style="text-align: center; color: white; padding: 0 16px 0 16px; line-height: 28px; font-size: 0.9em; font-weight: 900;">Ao fazer a entrega referente à um agendamento ligado à uma solicitação, a Instituição confirmará seu agendamento e a partir disso ele se tornará, efetivamente, uma doação.</p>
          
            </div>
            <!-- <div style="display: flex; gap: 8px;">
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-second); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-red); border-radius: 50%;"></div>
            </div> -->
        </div>
    
    </main>
</main>



<main class="master" [@slideAnimationWithLeave] *ngIf="state === 5" (click)="goTo('login')">
    <main class="main" style="background-color: var(--zw-red)">

        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; gap: 50px; height: 100%; width: 100%;">

            <div style="display: flex; flex-direction: column; gap: 16px; align-items: center; justify-content: space-between;">
                <h1 class="unic-title-on-screen" style="color: white">ACOMPANHE A CONFIRMAÇÃO DA INSTITUIÇÃO</h1>
                <img src="../../assets/red/tutorial/Group 307.png" style="width: 260px;" alt="">
                <p style="text-align: center; color: white; padding: 0 16px 0 16px; line-height: 28px; font-weight: 900;">Voce pode acompanhar a confirmação da ONG referente ao seu agendamento em seu Perfil, após confirmadas, as doaçoes ficam listados podem ser acessadas em seu Perfil e podem ser usados para emitir comprovantes.</p>

          
            </div>
 
        </div>
    
    </main>
</main>


<main class="master" [@slideAnimationWithLeave] *ngIf="state === 6" (click)="goTo('login')">
    <main class="main" style="background-color: var(--zw-red)">

        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; gap: 78px; height: 100%; width: 100%;">

            <div style="display: flex; flex-direction: column; gap: 16px; align-items: center; justify-content: space-between;">
                <h1 class="unic-title-on-screen">VISUALIZE SEU <span style="color: var(--zw-second)">COMPROVANTE</span> PELO APLICATIVO.</h1>
                <img src="../../assets/sixth.png" style="width: 350px;" alt="">
                <p  style="text-align: center; color: white; padding: 0 16px 0 16px; line-height: 28px; font-size: 1.1em;">Agendamentos confirmados (Doaçoes) ficam listados em seu Perfil, na página de Doações, e podem ser usados para emitir comprovantes.</p>

          
            </div>
            <div style="display: flex; gap: 8px;">
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: white; border-radius: 50%;"></div>
                <div style="width: 6px; height: 6px; background: var(--zw-second); border-radius: 50%;"></div>
            </div>
        </div>
    
    </main>
</main>